body{
    font-family: 'Hind Siliguri', sans-serif;
    margin: 0;
}
h1{
    font-size: 50px;
    font-family: 'Yusei Magic', sans-serif;
}
p{
    color: dimgray;
}
 img{
    width: 100%;
}
.container{
    width: 1165px;
    margin: 0 auto;
}
#header_area{
    margin: 5% 0;
}
.flexiable_container{
    display: flex;
}
.colored{
    color: #E6293E;
}
.half_width{
    width: 50%;
}
.text{
    padding: 25px;
}
.button{
    padding: 10px 40px;
    background-image: linear-gradient(to right,#D51E24,#EB6076);
    font-size: 16px;
    font-weight: 600;
    text-decoration: none;
    color: black;
    border-radius: 25px;
    margin: 0 25px;
    box-shadow: 4px 4px 16px #D51E24;
}
#about_area{
    background-image: url('images/shapes/Frame\ 58.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}
.top_area{
    text-align: center;
    padding-bottom: 40px;
}
.food_item_boxes{
    display: flex;
}
.food_item{
    width: 31%;
    margin: 0 20px ;
    padding: 20px;
    box-shadow: 5px 4px 20px dimgray;
    border-radius: 30px;
}